<b>Background of the data</b><br>
The dataset for this project consists of information regarding the cities in the USA obtained from https://simplemaps.com/data/us-cities. Specifically, the data contain: City Name, County Code, County Name, Density, Id, Latitude, Longitude, Source, State Id, State Name, and Timezone. Though this data came with the coordinates, Tableau was used for geocoding the data to obtain the correct coordinates. The data was then exported and converted into a .json, read into a pandas dataframe and sliced into Wake and Meclenburg data for use in the project. Besides this data, the Foursquare API was be used to collect venues near the neighborhoods for cluster analysis to be performed on the data.

In [1]:
#Let' import some libraries and view the data in a dataframe
import pandas as pd # library for data analsysis
print('Libraries imported.')

Libraries imported.

In [4]:
df = pd.read_csv (r'C:\Users\HARSHAVARDHAN\Desktop\uscities.csv')
print (df)

               city    city_ascii state_id    state_name  county_fips  \
0       South Creek   South Creek       WA    Washington        53053
1            Roslyn        Roslyn       WA    Washington        53037
2           Sprague       Sprague       WA    Washington        53043
3        Gig Harbor    Gig Harbor       WA    Washington        53053
4      Lake Cassidy  Lake Cassidy       WA    Washington        53061
...             ...           ...      ...           ...          ...
28884      Montrose      Montrose       SD  South Dakota        46087
28885     Spearfish     Spearfish       SD  South Dakota        46081
28886         Emery         Emery       SD  South Dakota        46061
28887     Watertown     Watertown       SD  South Dakota        46029
28888       Buffalo       Buffalo       SD  South Dakota        46063

      county_name county_fips_all county_name_all      lat       lng  \
0          Pierce           53053          Pierce  46.9994 -122.3921
1        Kittitas           53037        Kittitas  47.2507 -121.0989
2         Lincoln           53043         Lincoln  47.3048 -117.9713
3          Pierce           53053          Pierce  47.3352 -122.5968
4       Snohomish           53061       Snohomish  48.0639 -122.0920
...           ...             ...             ...      ...       ...
28884      McCook           46087          McCook  43.7002  -97.1843
28885    Lawrence           46081        Lawrence  44.4912 -103.8167
28886      Hanson           46061          Hanson  43.6020  -97.6195
28887   Codington           46029       Codington  44.9094  -97.1532
28888     Harding           46063         Harding  45.5864 -103.5434

       population  density   source  military  incorporated  \
0          2500.0    125.0  polygon     False          True
1           947.0     84.0  polygon     False          True
2           441.0    163.0  polygon     False          True
3          9507.0    622.0  polygon     False          True
4          3591.0    131.0  polygon     False          True
...           ...      ...      ...       ...           ...
28884       442.0    414.0  polygon     False          True
28885     12675.0    272.0  polygon     False          True
28886       455.0    384.0  polygon     False          True
28887     21837.0    475.0  polygon     False          True
28888       346.0    241.0  polygon     False          True

                  timezone  ranking               zips          id
0      America/Los_Angeles        3  98580 98387 98338  1840042075
1      America/Los_Angeles        3  98941 98068 98925  1840019842
2      America/Los_Angeles        3              99032  1840021107
3      America/Los_Angeles        3        98332 98335  1840019855
4      America/Los_Angeles        3  98223 98258 98270  1840041959
...                    ...      ...                ...         ...
28884      America/Chicago        3              57048  1840002659
28885       America/Denver        3        57783 57799  1840002374
28886      America/Chicago        3              57332  1840002644
28887      America/Chicago        3              57201  1840002156
28888       America/Denver        3              57720  1840002018

[28889 rows x 19 columns]

In [8]:
csv_data = r'C:\Users\HARSHAVARDHAN\Desktop\uscities.csv'
df = pd.read_csv(csv_data)
print('The dataframe has', df.shape, 'rows and columns respectively.')
df.head()

The dataframe has (28889, 19) rows and columns respectively.

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500.0,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947.0,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441.0,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507.0,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840041959